*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

header{
    height: 45px;
    background-color: rgba(0,0,0,255);
    z-index: 1;
    text-align: right;
}



.button{
    background-color: grey;
    border: none;
    border-radius: 20px;
    color: #fff;
    margin-right: 10px;
    margin-top: 10px;
    padding: 4px;
}

main{
    background-color: rgba(0,0,0,255);
    height: calc(100vh - 145px);
    overflow-y: scroll;
    
}

.gallery{
    justify-content: center;
}

.card{
    position: relative;
    margin-bottom: 7px;
    margin-right: 7px;
    height: 100px;
    width: 180px;
    background-image: url("https://picsum.photos/200");
    background-size: cover;
    background-position: center;
}

.audio{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(105,116,125,.3);
    color: #fff;
    padding: 2%;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(34,34,34,255);
    justify-content: space-between;
    color: #fff;

}

.section{
    padding: 1.7rem;
    text-align: center;
}

.segnal{
    font-size: 24px;
    margin-bottom: 7px;
    margin-right: 7px;
}

.indicator{
    font-size: 10px;
    font-family: cursive;
}

.container-segnal{
    text-align: center;
    margin-right: 7px;
}
.cap{
    margin: 0 10px;
    line-height: 50px;
    font-weight: bolder;
}

.end-meeting{
    position: relative;
    height: 100%;
    width: 180px;
    color: red;
    font-size: 15px;
    background-color: grey;
}

.close-meeting{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}