*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: relative;
    height: 80px;
    background-color: rgba(0,0,0,255);
}

.container-span{
    position: absolute;
    top: 5px;
    right: 5px;
}

header .span{
    vertical-align: middle;
    text-align: center;
    color: #fff;
    background-color: rgba(74,74,74,255);
    margin: 5px;
    border-radius: 10px;
}